html, body {
    max-width : 100vw;
    min-height: 100vh;
}

header {
    max-height: 20vh;
}
main {
    min-height: calc(100vh - 20vh);
}

.front-footer {
    display: block;
    background: #1A2B33;
}

.footer-image {
    margin: 0 auto;
}

.back-navbar {
    min-height: 100vh;
    height : 100%;
}

.nav-icon {
    filter: invert(41%) sepia(18%) saturate(1559%) hue-rotate(100deg) brightness(99%) contrast(96%);
}