html, body {
    min-width : 100%;
    min-height: 100vh;
}

.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
}

header {
    max-height: 20vh;
}
main {
    min-height: calc(100vh - 20vh);
}

.front-footer {
    display: block;
    background: #1A2B33;
}

.footer-image {
    margin: 0 auto;
}

.back-navbar {
    min-height: 100%;
}

.nav-icon {
    filter: invert(41%) sepia(18%) saturate(1559%) hue-rotate(100deg) brightness(99%) contrast(96%);
}